:root{
    --background-color: #5a0505;
  --accent-color: #011b64;
  --heading-text-color: white;
  --main-font: Arial, sans-serif;
  --base-font-size: 16px;
  --button-padding: 10px;
  --shadow: yellow;
}
nav{background-color: var(--background-color);
padding: 10px;
}
nav a {
    color:var(--heading-text-color);
    display: block;
    padding: 20px;
}
h1 {
    color: var(--accent-color)
}
img {
    width: 150px;
    height: auto;
    border: 1px solid var(--background-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--shadow);
}
p{
    padding: 10px;
}
main{
    max-width: 840px;
}
aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0/0.2);
    padding: 2rem;
    background-color: #eee;
    color: #333;
}
aside img{
    width: 200px;
    height: auto;
}
main img{
    width: 150px;
    height: auto;
}
p{
    padding: 0px;
}
footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}